.navbar {
    border-bottom: 1px solid #eee;
    padding:30px 0 !important; 
    position:relative ;
 
    display: flex !important;
justify-content: end !important;
    align-items: center; 
  }
  
  .container {
    max-width: 100%; 
  }
  
  .logo {
    color: #4caf50 !important;
    font-size: 28px !important; 
    font-weight: bold !important;
  }
  
  .link {
    color: black !important;
    transition: color 0.3s ease-in-out !important;
    font-size: 18px !important; 
  }
  
  .link:hover {
    color: #4caf50 !important; 
  }
  
  .getStarted {
    font-size: 18px !important; 
    font-weight: bold !important;
    padding: 10px 20px !important; 
    transition: background-color 0.3s ease-in-out !important;
    border-radius: 30px !important;
    
  }
  
  .getStarted:hover {
    background-color: #4bb950 !important; 
  }
  